services:
  postgres:
    image: postgres:16
    container_name: portfolio-api-postgres
    environment:
      POSTGRES_DB: portfolio
      POSTGRES_USER: portfolio
      POSTGRES_PASSWORD: portfolio
    ports:
      - "5432:5432"
    volumes:
      - portfolio_api_postgres_data:/var/lib/postgresql/data

volumes:
  portfolio_api_postgres_data:
